<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arthur.sys.mapper.PowerResourceMapper">
  <resultMap id="BaseResultMap" type="com.arthur.sys.domain.PowerResource">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="RESOURCE_ID" jdbcType="BIGINT" property="resourceId" />
    <result column="POWER_ID" jdbcType="BIGINT" property="powerId" />
    <result column="DEPICT" jdbcType="VARCHAR" property="depict" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="IS_DELETED" jdbcType="VARCHAR" property="isDeleted" />
    <result column="CREATED_BY" jdbcType="BIGINT" property="createdBy" />
    <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="MODIFIED_BY" jdbcType="BIGINT" property="modifiedBy" />
    <result column="MODIFIED_DATE" jdbcType="TIMESTAMP" property="modifiedDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, RESOURCE_ID, POWER_ID, DEPICT, STATUS, REMARK, IS_DELETED, CREATED_BY, CREATED_DATE, 
    MODIFIED_BY, MODIFIED_DATE
  </sql>
  <select id="selectByExample" parameterType="com.arthur.sys.domain.PowerResourceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sys_power_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart &gt; -1 and limitOffset &gt; -1">
      limit #{limitStart},#{limitOffset}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_power_resource
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sys_power_resource
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.arthur.sys.domain.PowerResourceExample">
    delete from t_sys_power_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.arthur.sys.domain.PowerResource">
    insert into t_sys_power_resource (ID, RESOURCE_ID, POWER_ID, 
      DEPICT, STATUS, REMARK, 
      IS_DELETED, CREATED_BY, CREATED_DATE, 
      MODIFIED_BY, MODIFIED_DATE)
    values (#{id,jdbcType=BIGINT}, #{resourceId,jdbcType=BIGINT}, #{powerId,jdbcType=BIGINT}, 
      #{depict,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=VARCHAR}, #{createdBy,jdbcType=BIGINT}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{modifiedBy,jdbcType=BIGINT}, #{modifiedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.arthur.sys.domain.PowerResource">
    insert into t_sys_power_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="resourceId != null">
        RESOURCE_ID,
      </if>
      <if test="powerId != null">
        POWER_ID,
      </if>
      <if test="depict != null">
        DEPICT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdDate != null">
        CREATED_DATE,
      </if>
      <if test="modifiedBy != null">
        MODIFIED_BY,
      </if>
      <if test="modifiedDate != null">
        MODIFIED_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null">
        #{resourceId,jdbcType=BIGINT},
      </if>
      <if test="powerId != null">
        #{powerId,jdbcType=BIGINT},
      </if>
      <if test="depict != null">
        #{depict,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=BIGINT},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.arthur.sys.domain.PowerResourceExample" resultType="java.lang.Long">
    select count(*) from t_sys_power_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_sys_power_resource
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.resourceId != null">
        RESOURCE_ID = #{record.resourceId,jdbcType=BIGINT},
      </if>
      <if test="record.powerId != null">
        POWER_ID = #{record.powerId,jdbcType=BIGINT},
      </if>
      <if test="record.depict != null">
        DEPICT = #{record.depict,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null">
        IS_DELETED = #{record.isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="record.createdBy != null">
        CREATED_BY = #{record.createdBy,jdbcType=BIGINT},
      </if>
      <if test="record.createdDate != null">
        CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedBy != null">
        MODIFIED_BY = #{record.modifiedBy,jdbcType=BIGINT},
      </if>
      <if test="record.modifiedDate != null">
        MODIFIED_DATE = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_sys_power_resource
    set ID = #{record.id,jdbcType=BIGINT},
      RESOURCE_ID = #{record.resourceId,jdbcType=BIGINT},
      POWER_ID = #{record.powerId,jdbcType=BIGINT},
      DEPICT = #{record.depict,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      IS_DELETED = #{record.isDeleted,jdbcType=VARCHAR},
      CREATED_BY = #{record.createdBy,jdbcType=BIGINT},
      CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      MODIFIED_BY = #{record.modifiedBy,jdbcType=BIGINT},
      MODIFIED_DATE = #{record.modifiedDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.arthur.sys.domain.PowerResource">
    update t_sys_power_resource
    <set>
      <if test="resourceId != null">
        RESOURCE_ID = #{resourceId,jdbcType=BIGINT},
      </if>
      <if test="powerId != null">
        POWER_ID = #{powerId,jdbcType=BIGINT},
      </if>
      <if test="depict != null">
        DEPICT = #{depict,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdDate != null">
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        MODIFIED_BY = #{modifiedBy,jdbcType=BIGINT},
      </if>
      <if test="modifiedDate != null">
        MODIFIED_DATE = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arthur.sys.domain.PowerResource">
    update t_sys_power_resource
    set RESOURCE_ID = #{resourceId,jdbcType=BIGINT},
      POWER_ID = #{powerId,jdbcType=BIGINT},
      DEPICT = #{depict,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      IS_DELETED = #{isDeleted,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=BIGINT},
      CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      MODIFIED_BY = #{modifiedBy,jdbcType=BIGINT},
      MODIFIED_DATE = #{modifiedDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>